.slideWrapper__FirstSlide {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/background/FirstSlideBackgroundImage.png");
    background-size: cover;
}

.centerBlock {
    position: relative;
    padding: 171.5px  0;
    margin-left: 65px;
    width: 747px;
    height: 425px;
}

.centerBlock__SmallHeading {
    color: #242424;
    font-size: 1.5rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.centerBlock__MainHeading {
    margin-top: 10px;
    font-size: 6.75rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 1.05;
}

.centerBlock__DecorationImage {
    position: absolute;
    top: 151.5px;
    right: -220px;
    width: 590px;
    height: 90px;
}

.centerBlock__Button {
    position: absolute;
    bottom: 236.5px;
    right: -100px;
    width: 285px;
    height: 80px;
    background-color: transparent;
    background-image: url("../../../public/background/ButtonBackgroundimage.svg");
    background-size: cover;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}