.slideWrapper {
    position: relative;
    width: 1024px;
    height: 768px;
    overflow: hidden;
}

.slideWrapper__FirstSlide {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../public/FirstSlideBackgroundImage.png");
    background-size: cover;
}

.slideWrapper__SecondSlide {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../public/SecondSlideBackgroundImage.png");
    background-size: cover;
}

.slideWrapper__thirdSlide {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../public/ThirdSlideBackgroundImage.png");
    background-size: cover;
}

.topBlock {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 25px;
    left: 66px;
    width: 150px;
    height: 40px;
    z-index: 10;
}

.topBlock__Button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
}

.topBlock__Button__Icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.topBlock__TextWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -2.5px;
    width: 90px;
    height: 25px;
    border: 1px solid #000000;
    border-width: 0 0 0 1px;
}

.topBlock__TextWrapper__Text {
    width: 100%;
    color: #242424;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    text-align: right;
}

.centerBlock {
    position: relative;
    padding: 171.5px  0;
    margin-left: 65px;
    width: 747px;
    height: 425px;
}

.centerBlock__SmallHeading {
    color: #242424;
    font-size: 1.5rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.centerBlock__MainHeading {
    margin-top: 10px;
    font-size: 6.75rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 1.05;
}

.centerBlock__DecorationImage {
    position: absolute;
    top: 151.5px;
    right: -220px;
    width: 590px;
    height: 90px;
}

.centerBlock__Button {
    position: absolute;
    bottom: 236.5px;
    right: -100px;
    width: 285px;
    height: 80px;
    background-color: transparent;
    background-image: url("../public/ButtonBackgroundImage.svg");
    background-size: cover;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.secondSlide__MessageHeading {
    margin-left: 72.5px;
    padding-top: 131.5px;
    font-size: 2rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
}

.secondSlide__MessageWrapper {
    position: relative;
    margin-top: 50px;
    margin-left: 72.5px;
    width: 878px;
    height: 445px;
    background: transparent;
    overflow-y: scroll;
    direction: rtl;
}

.secondSlide__MessageWrapper::-webkit-scrollbar {
    width: 25px;
}

.secondSlide__MessageWrapper::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 30px;
    border: 10px solid transparent;
    background-clip: content-box;
}

.secondSlide__MessageWrapper::-webkit-scrollbar-thumb {
    height: 100px;
    background-image: url("../public/ScrollbarThumb.svg");
    background-repeat: no-repeat;
    border-radius: 20px;
}

.secondSlide__MessageWrapper__Message {
    padding: 30px 40px;
    width: 735px;
    min-height: 445px;
    height: auto;
    background: #ffffff;
    border-radius: 35px;
    filter: drop-shadow(5.4px 8.4px 31.6px rgba(157, 185, 198, 0.39));
}

.secondSlide__MessageWrapper__MessageText {
    font-size: 1.5rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 0.05rem;
}

.thirdSlide__DecorationImage {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 315px;
    height: 780px;
    z-index: 15;
}

.thirdSlide__KeyMessage {
    padding-top: 151.5px;
    margin-left: 380px;
    font-size: 2rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.thirdSlide__Brend {
    margin-top: 10px;
    margin-left: 375px;
    font-size: 6.875rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5rem;
}

.thirdSlide__AdvancesModal {
    position: absolute;
    margin-top: -190px;
    margin-left: 165px;
    width: 800px;
    height: 560px;
    background-color: transparent;
    border-radius: 35px;
    transition: 400ms ease;
    z-index: 0;
}

.thirdSlide__AdvancesModalActive {
    background-color: #ffffff;
    z-index: 10;
}

.thirdSlide__AdvancesModal__KeyMessage {
    padding-top: 36.5px;
    margin-left: 180px;
    font-size: 1.75rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    letter-spacing: 0.15rem;
}

.thirdSlide__AdvancesModal__Brend {
    margin-top: 5px;
    margin-left: 175px;
    font-size: 6.125rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5rem;
}

.thirdSlide__AdvancesModal__AdvancesTextWrapper {
    margin-top: 40px;
    margin-left: 185px;
    font-size: 1.5rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.thirdSlide__AdvancesModal__AdvancesTextWrapper > span > h4 {
    color: #b5dff3;
    font-size: 1.75rem;
}

.thirdSlide__AdvancesModal__AdvancesTextWrapper > span > p {
    margin: 5px 0 10px 0;
}

.thirdSlide__AdvancesModal__Controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 30px;
    left: 175px;
    min-width: 135px;
    width: auto;
    height: 45px;
}

.thirdSlide__AdvancesModal__ControlsArrows {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
}

.thirdSlide__AdvancesModal__ControlsArrows > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.thirdSlide__AdvancesModal__Controls__slideButton {
    width: 12.5px;
    height: 12.5px;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 50%;
    transition: 400ms ease;
    cursor: pointer;
}

.thirdSlide__AdvancesModal__Controls__slideButtonActive {
    width: 12.5px;
    height: 12.5px;
    background-color: #fc6da9;
    border: none;
    border-radius: 50%;
    transition: 400ms ease;
    cursor: pointer;
}

.advancesModal__Close {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

.advancesModal__Close > img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.darkBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    transition: 400ms ease;
    z-index: 5;
}

.thirdSlide__Advances {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    margin-left: 235px;
    width: 700px;
    height: 300px;
}

.thirdSlide__Advances__Dishes {
    position: relative;
    padding: 40px 40px 40px 130px;
    width: 240px;
    height: 185px;
    background-color: #ffffff;
    border-radius: 35px;
    filter: drop-shadow(5.4px 8.4px 31.6px rgba(157, 185, 198, 0.39));
}

.thirdSlide__Advances__Dishes > img {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
}

.thirdSlide__Advances__Dishes > p {
    font-size: 1.5rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.05rem;
}

.thirdSlide__Advances__RightBlock__Time {
    position: relative;
    padding: 40px 40px;
    width: 180px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 35px;
    filter: drop-shadow(5.4px 8.4px 31.6px rgba(157, 185, 198, 0.39));
}

.thirdSlide__Advances__RightBlock__Time > img {
    position: absolute;
    top: -30px;
    width: 70px;
    height: 70px;
}

.thirdSlide__Advances__RightBlock__Time > p {
    font-size: 1.5rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.05rem;
}

.thirdSlide__Advances__RightBlock__MoreButton {
    margin-top: 35px;
    width: 260px;
    height: 80px;
    background-color: transparent;
    background-image: url("../public/MoreButtonBackgroundImage.svg");
    background-size: cover;
    border: none;
    border-radius: 40px;
    color: transparent;
    cursor: pointer;
}

.logo {
    position: absolute;
    bottom: 12px;
    left: 70px;
    width: 58px;
    height: 13px;
    z-index: 10;
}

